.App {
  display: flex;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1c92d2 #f2fcfe);  /* Chrome 10-25, Safari 5.1-6 */
  background: url(../../public/pngegg.png), linear-gradient(to right,  #1c92d2, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-position: right bottom;
}

.App-header {
  background-color: #282c3475;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
  align-items: flex-start;
}

.weatherContainer {
  display: flex;
  margin: 100px 0 0 40px;
}

.favoritesHeading {
  font-size: 1.2rem;
}

