.searchContainer {
    position: relative;
    height: fit-content;
    display: flex;
    margin: 20px 0;
    align-items: center;
    button {
        background-color: #5717be;
        color: white;
        font-size: 1.5rem;
        padding: 6px 8px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
            opacity: .8;
          }
      }
  }

  .searchInp {
    width: 250px;
    display: block;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 6px 8px;
    margin-right: 15px;
    font-size: 1.5rem;
    outline: none;
  }
