.searchPopup {
    display: none;
    background: white;
    width: 250px;
    list-style: none;
    position: absolute;
    top: 40px;
    border-radius: 6px;
    overflow: hidden;
    li {
        width: 250px;
        left: 0;
        color: black;
        border: 1px solid rgba(0, 0, 0, 0.034);
        padding: 6px 8px;
        background: white;
        cursor: pointer;
      }
  }

  .searchPopupActive {
    display: block;
  }