.weatherItem {
  margin-right: 15px;
  border-radius: 4px;
  padding: 6px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  h2 {
      font-size: 5rem;
    }
  p {
      font-size: 2rem;
    }
}

.temperature {
  font-size: 9rem;
  font-family: "Questrial", sans-serif;
}

.addToFavoritesButton {
  align-self: flex-end;
  color: #464646;
  font-size: 1.2rem;
  cursor: pointer;
}

.cityHeading {
  display: flex;
  align-items: center;
  img {
      width: 90px;
      object-fit: contain;
    }
}